<h1>This is your profile</h1>

<h2>Here are all your favorite restaurants: </h2>

<% @favorite_restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %><a href="/restaurants/<%= restaurant.id %>/favorite_restaurants/<%= FavoriteRestaurant.find_by(restaurant_id: restaurant.id).id %>" data-method='delete'>    Remove from favorites</a></p>
<% end %>

<h2>These are your preferences: </h2>

<ul>
<% @preferences.each do |preference| %>
<li><%= preference.preference_name %></li>
<% end %>
</ul>
