<h2>My Profile</h2>

<h4>My favorite restaurants: </h4>
  <%= render partial: "favorite_restaurants", collection: @favorite_restaurants, as: :restaurant %>

<h4>My preferences: </h4>
<ul>
  <%= render partial: "my_preferences", collection: @preferences, as: :preference %>
</ul>
