<h1>This is your profile</h1>

<h2>Here are all your favorite restaurants: </h2>

<% @favorite_restaurants.each do |restaurant| %>
  <p><%= restaurant.name %></p>
<% end %>

<h2>These are your preferences: </h2>

<ul>
<% @preferences.each do |preference| %>
<li><%= preference.preference_name %></li>
<% end %>
</ul>
