---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAyQzlGjjfB7jo93g9Fg3Aq85M2TDFqf1TETSwVurBvqBeLbwLr8ixX_-iUNFfaG4BKF4uyPx5rMGuK7M2N3uvM2nJ0iQqZ6QIHJ44jbSrF8yhb1YNLyYwR11727ad3jCQ5ElGI9j_jNVRneVa0Yz9WBIQe4Cb6llYoWgFDDXllyY5UBoUdh-8m63rF4YcG6pdJIdCsFcWOeM&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 17:49:14 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAA2OiLnbPtHbMMvmbJtsoqoQRtxwvdY2rnnvzXe2pFTL2oJ7lz7AgliDM8u0eVCnm-cT7MawTO9T-f9hhh80bbGx13laI4iFo5363C8WEtWSGEMK50bIeSs63y2sDpwSUkHWFZE_FDco_lunLqWa5yyhIQSDBNF9F4kO7z9jSGa_MlWxoUFAj9gztQHT6xC0H2aEWA7Ys-hHs&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2030",
                    "short_name" : "2030",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "W 30th Ave",
                    "short_name" : "W 30th Ave",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Denver",
                    "short_name" : "Denver",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80211",
                    "short_name" : "80211",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2030 W 30th Ave\u003c/span\u003e, \u003cspan class=\"locality\"\u003eDenver\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80211\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2030 W 30th Ave, Denver, CO, United States",
              "formatted_phone_number" : "(303) 993-3120",
              "geometry" : {
                 "location" : {
                    "lat" : 39.759468,
                    "lng" : -105.011378
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
              "international_phone_number" : "+1 303-993-3120",
              "name" : "Linger",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 2,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 2,
                          "time" : "1130"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAKvce855kYpTuZJOzfluh5G58S4GIFZ3_fzr7_7AOP_K_z-toARKiP7t9cTeGdu2pujhU2jhWUbZIa6TbFkk881jbngNKhxfEZ6_Jj444KSEcg-AqQH5tO6sy0p0lCYeidNXMcXzWaXbFmFd7Kg-MKRIQ0gkRk-ebg8d1uMdQVEvHJxoU9SDQEzaDDRStwfCDEcuelMCgv9A&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 18:57:08 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAa4RvciqCM9gld0Dq5lRysId8A8O6bOUUd-ZLRgM5WI7NJakSK85kfzzgj5GKjfaT3CeTwE_9QsrQcR5WQHkbWrIJLPXpSgo1ipBJly0eIG9DR42VFm8NzLwVXLEATXhy7bl8ONN8U3nCc3IQkWIZrRIQckshZejl58m19yHlFTgU5xoUDeqk7joejmri5EOlszbNPJmbsMM&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAYLvJgWNVpw8ZSHXHsKuJ957qfBIMRxiUCuAbFPP7w8Rqgb3KZwZibSH8E5u3EFHYRQRJ7-9ZiCTLjkazqJEoFyOL2i-5QI5GRAzdbc_o8DKPEPiYIpFOlQjmBn9UBFYFKcEmQcC4TjeCkjMoOzY5tRIQgyk4CuOcMJQ9PsmLQK_-khoUknxs9evzkRiLr7Zg1SF5phU-YMM&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 19:00:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAABKsfazHoSHX1Lvw0ugmtMz6C-xNwmquxoPcjy2ZfWKd4M9GIb9IPBbai2o_aHW5bg88CfA5iUxtdwT3fJEJfyrwX5A6d6ZjkzOoW5xic5DvNe3h6jb8WnyPIYNKG7SmYDXhTaWBx04wpwAyHpCI7XRIQmT-jO3_k3nF_9VDi9S-8ZxoU1jamEaZH3MT0OpFqCg0Qr3OaLjI&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAEQyUeMkCrQM2MLMXqwfz6JwOmxvx1PA7H4-S48Iy3d8m8QOj3m7vzR7U7caKLZN-hEWm0wEsi5sXScYGbLGMbBjsKVKulxWf1oMFh1Kp9U0E1vV8iMm5SBbOuXj4DMXX8IdSL2J4CWFftDLC6_fVLBIQ3uiSYktADMzNobA_PsEjIhoUXiiDk-qbg7oe9CtU9quG9kVhFCQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 19:14:06 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAR5Y2f3FPNWMJM9kLY7u4PtWHnjfpt2RVfcpOWWQ3Mk-qwUwiOQV4dg2PpKogC9rhxqK19YmKzwLq5KQgRHY-xFUpyMppPl4pg4AZcDN4mAXX06L6NHCMezT7YEECw5QGd6fhoz5TXy7mDuQyEMhs4hIQTTXylFft_IjIGmQb1LsSyBoUF3QhRNbYc1Mma2WvqkpRuCgyK80&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAWaSiuxZSXYoG0OVgpOgZGaD6WGZbWFeBUiVCHX4oaMZuLFlF4wauUwuW6bYo-_wMtk-bQUN_5eXGl8JrvOdaeUdccCeEZVqMVwEY5KQSOg5x6qxxPMGQ3uSiHnAC38arnoh5szzo6Xck9wARd2XyURIQ2pdQz8UMYyRKH8eGjYrnSxoUJqFl_mEaOOmBbv-26YnaWPioEao&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 19:47:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAzz0Y3-W2-ZOuBYWgVQ-8VXIGyzoyXIVf1Cud9wpfXF_aYi0hZzW5lsQT3vuHYL2iNhw1DBo232Rdw7p4_Syi7qUcEAm90shFvl5KGcGshBEVSNFhuFu1YabXZiGmEUDM3ptEPL_vQUeZwCe4k2FjsRIQ1uolVhrq9M1xvQQJLwT0jBoUFch3Rj43MHajfOohbOgQvXYZ-lk&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAnU7Zbr8F9lsWO1aolsUDZWHn6EEh1l7Ixkc_jpkcjNlQ-MFwD1j2IbwrQ7boMa4oudYye3Lbg5Qmo1bp0rfGvUAaUlFpIGUKv4--L3rUkFITX7oRnBhqU8_mQEYtQ4lpyciZN4Ka3jxy3eZ3j6dv5BIQzINVYplvnjnXth6buRRxWxoUwO2e6_ZxNjms47zPYZ6MwxXcMiE&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:08:57 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAA19rCo_0yGFL4wYHdtaDM7o29vaHEf15LeM0A1_q6DAsNh_a6c0N6Yveg-_5wpr0UBRvhDjQ7jFKg5Q0LffJO-eWl8a2lzUZcxbc1mi3PpCX_VKs5Gxi5xJ46iBCrQmpIi5tDcaRYDA6VFTzWc9XAExIQ_pjS-soO3-vt5YZOd_FbzBoUXkakLpBNQifxPPvamBk-zNeeUJQ&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAuytjshXZ34Y4Fkv4DY-OH2i7I-ESZZy79YEIC5_dNVzS3seBudG9KexEK8E54jKhXiX8cB0sWILnMT6Xpdi5iuLHtTn9Hz7Qm0urDhDK4gggJ_gcCZtQH1AsiF3FHJUGDT-_pvayQm7uTwtYEyqWZxIQb2AQCw2NI1kzsKk87mPINRoUMLW8rUkhXOAqF3zzxcEgL1OcZK0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:32:45 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAjKGSFqa6FwxO7qSIC0k8UmRoPnEzKFD1K8hqw0bJVkhh7BVJYQQRkykgsMU9H2L3gcaYPo1bhmdcu2mdloem6RnMj8xzhLl3XxZNe5L7uAxOKLkxRXfijRqsVsATB35SQLVmUemeu0MwX3Aj7etXbxIQwgzmK5qSHE9DSapqru3dPxoUA99IkUv5C90-yV8ABelOEjPDs3s&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAGvR2sSbqGWoIMysr6Y2QiwMAZwta4PzVePQMwoTsVGaSyLn2OUy-PoWs1JuhDnXXH7pBuTLH13zAXYjL55Ow_d9TUHifix7KF-A7_7rZt0v5uwCyXdbxqwFYXl9RVHJj-k2ewzVWU1lDgbMM3Ab7-BIQXAh3LNyjlmYZm-ZUXkiCixoUjAkmvAeTAph7dwAGQnFtV0PTKXw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:34:45 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAfEz8MqIKLrOLobS8TTUhZVuh8gthzLVjFIv5Ker6OOayqQ8bZfgKiMglpbwC76Ev9PnYdk_sFTjpmiY-j5WAAQIWe-9Cmpr96G4oGZpyrvElMLrETRWGQIg58vYDjRPwaPOeidn2ULs6KU0cfNXeXRIQuBVfgC32MFr4h6cQ0HAUKhoUrOZi-3lPw4xllgwpY_iKRrHB9M0&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAADbLdzaLR6JrVaZnX506qiVpGftfIVLkLtXn5U51sfgMxsbiLpbU9orPy6FpKlknw8dtI9KpkMp0vjUiSKquV54kAqsXJsNgyWmOwltxklM893tF12oIh6tjQGIktqKWwIkxzJiCU_szI5Ytb5OW0QBIQTi0vFBuyMPEnfVQfGL_fShoU27QUcRGIFxG3-FxEtUgwKLgmqJg&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:34:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAyBfpgPb2rEYBgajtwrwMt8hJMfjIjlxt-clfAkgZGtDpJvCIzuyGTfmyBYVgDrrHPYOlaG3SmUxRnHhkJhlASE3LWM0Y-7EC5X-Ub8pdKzj4tZIvTpBmsz-2m26MPPMxwGC_5iJrdiG_h9nZXLEoBBIQEWhbbrFpj3VUtvhImqEISBoUaAoFpAZKHlLwrvNwkHv4xe3cf58&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAXEQpc3jGo-Qfqa4qNwQE56I9gs-_1E0ReQzl36i8KdLXADy8KXcgtATxsd3BoqouDqNx3lqJ8gBkTSodee5ocBifZZaUCaUTKB-OxqbBKZShTc52dWorYddeQHnFZUe4JQWSUkcn7nKrl54000QvpxIQXCpIRTyNdMexPDnMFd-IPBoUhEOqBhPeM56-Xs0Tm4njM_4f8qo&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:43:09 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAJLj6Vp3xzuagwIIjdtOP3eMjHj0yuqFZw4K3c4ArYaUsYyN989XYEC7mEnBTchiafDpkWLUAYEbj2dcvMdDUNxSCOtHp61HGBw6cnnFEWfWjhtMSqNScA8EH87aY23C4-bq8u-sGA6i7NaEa_Cz0URIQ8kAQHaGYB4hu19AnElCHyRoU-epbESdcNLrJ8mwcAW1fCYODgJk&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA5HshoUEYeQ2SJiD6hAoxVwrwJZkrdNYcXVS2Rglvi5B30098TNJ5PsGya9PDq6Or8exK_aKjm37cPE__7iLxA6L8tb-agZKrUaewMuNd4JMgpHZqz5Je0X8EtUqLBUjphQrnuby1biM8vkyRiQ_xdhIQDZfNr9qtMyPFj314inSkVBoUPSmGu7U7OScqOru7AmeowldZnuk&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:43:22 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAMUA6yO7v-kh4oQ2nCaBVM0a7sSMbFh-v5FDa_ZkwYaPjoS505qLj-MxHf5SW2WetKvKk-B3HuAJ9OVckFMiCnivUEGNHyX6YddKVoNvsJfCsRdNZ4YcMXZDXvQhQz639zoTybunrZ2lC9vZpgDm8HxIQEdtrUjeSg2dHMLNlEHtGnxoU99lIeavH86EVFbA5alEIvoPQtGw&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA9A-ojosylBoWiLzNIq6nrO_x0dLAyHnNB_cTmrl34HGgrUpUsHDhDYnrbr82A4i7etbAibS_bZZAHBkEjjWqQYw_hLlCdIJ6rd1UAe48rlOygIZ4FSa60z8P6hLpyUbx0LVIJS-9Bl3P4tHTviun3hIQeUqJ1wNymGQ5dsSOx8oOKBoU-R7UqdR5o-T0m8TjykLpzXDUlkc&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:43:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAppOyACr77S3X-k6iHYVav4pS84HOAMTkP6YJUJFS2td1PSXPHRZW3Gn8FzdOGXxobPzalkn9iKc2BXIY4UwFBzBS-EJGLvtEYBfQHIZvHiay4G4tsaJCJ296bECD0_2mGLKm9gfj3QpLGz2XHFdp7RIQV6Sd6W397IokFQggxpDzZBoU4OK_sEg2xjMmxQFaeDOM4IMfhLI&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAhX3d22OZLgtV64YG91VPGLBaBES-0H6OF-2p56l7ZxHJrNB-qpW4sybA__Mf2M679i4KWza57jXRel5rFQM5DU-YpUMaLTmNy6uyV0gxc0wmwDyb4JcQIxbVZ1CCnTyYW_zND0GV0wWfLcK9EH6P3RIQniUWRhxFAvUflRt3PhPzeRoUH1-x3S55rUP-TIyFwGJXsKkD23E&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:44:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAa7HmhExdR7zZHzAcQDSfn0A7DLgvnMtPUfTyVKUBbWdMLi3NmJiI4kbF84Kvd2PAnLwCHGwXGiyUKMdBMbXpsC1ftG3oxHeTEOrguufITV47cMp2HftHcU3gAX3Hktq1o_P-5Dyj4EZ-1Y5QzPHWzxIQtPac5vOOsLhM4Jq--AdmWRoUNCkb01x_r6vD1dse3Mnol8yfK10&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAWxG5Au3O6XElEX7-tH8ZLeMWWqkMocRsEFdJm930L3w2eOik-ivbRPZQjHKD4kHYloSZy5tVREvFwe9PlD7MYTI7YQE1mQj3lwZvmGuOsEMlj9aw3YgJvYkfE5ifW03DZ2ulGLpSmdCw5DPnBSAEhhIQWsuC3cf89KItuehdLs1wWRoU8hRFr43COqtBSFVTN_3eHoCnpmk&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:48:39 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAvM9Ll9H3NXPigrmqq0SXjUkqlEhDD8rpsBLtjHyc3_sOJTZW5uXDCRVMzVYeI882SKnJ5MD0I1eqc0Ti1kROEnt9VI4cvpAvQT4jgNmzb4HfgMRjv5XlY_Ck7ReQIS87SpMTTkHAc54KHfoJX_xM_RIQQ3b0tXVyjtYiifVSUrdLMRoUp9E_7avJNsdCOQ4pgD0NR-BZOEk&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAe2UGsly9nQ1ABXp9j_aUWfXBIIdudqRmIY7VxoDKjbg2U5J6i4wZL52CRD3bQYTjSEXY1n4uR2P3r-Bj7a76MZQ9OvwkYPEBuwnRl8C7TEqVm564PcEfpV4ZSScxViLqhD34gpRmTu1y6Gi2R7TecxIQkcq41wHFevyn7FV987uYgBoUEEaHxGukrjmEBlNOBbYvY7KtmGk&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:49:08 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAViQXtKK-tOnM6CEtZkQAQ067oypGiR0e3KM91nDxoCS08v8iSUpPXVIIl5Nwl_4KHTls_-WbqztOqXjsSvYpr7OTDNBECCNFi8Z_0n1c4Ftb0oC7R3r0Zavn8B3GHQhYkyGJuaqtpGe08_diljQEQhIQnMnPHW75XGP9YUsNkginMhoUSjxEuqGRrMGHMMGFH3nn8A3DY-g&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAATkdQvySOP3MJ9Qsp0AvaNvEIQrXpz_Nz7kmy2eJU2MqeinXuQ1V8pbUtKTQEO62_V8tKhpc3ToV-1mo784tnulndgjIDCT8NxX5VN7-izPJkQaKHyYg_jLdY8bpjyAX7tE6XJ64-Ge9emZi-UmUAYhIQs-NejzrTPJWVnVPCFKCgSBoUhxue2NpFCEJ7sQA8jnTzEAvBeP4&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 16 May 2014 20:50:08 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAWJE--3r_9Axv9gCIh7mfzceJTbsdNwQXWOF5Pkj_qnxpcY1I1i3tAoHZvr8llyLUZL8XxeonWjMpYHLwbJPokDYC6flnCUsULJIVyVt9q_Qs9YTker37912j7BJHO6dgYJTj34AZHIwtVtywGLcN0RIQWfi_rOqWhEvt6jQLePxfwRoUV0T9JGatEOkA_FMXfUkksxVlM1w&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAARxfvs-4lyd9Uj8tgaGEwnCsTYg3vS6G2MyPLW2n-hF-5_Ho5eXw0DK26CzptH5JLCsp1yQzkoz4yMBOmDqtdKG2QzNc24mRqkzF4KzbabLvMplGBnYRqS4_Wii0xXVLWRXNsOzbZVNfVHGnyFEBeCxIQIA7rIxAzOz-LqiCcCyyjmBoUZJvQucb4MdhoK_bpSgOKg6n-ob0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
[...]
