<header>
  <div id="header_container">
    <h1>The Conscious Eater</h1>
  </div>
</header>


<a href="/restaurants">All Restaurants</a>


<form action="/restaurants" method="get">
  <input type="hidden" name="search" value="true"/>
  <select name="homepage_location">
    <option value="Pearl Street, Boulder">Pearl Street, Boulder</option>
    <option value="Highlands, Denver">Highlands, Denver</option>
  </select>

  <% Restaurant::DIETARY_OPTIONS.each do |option| %>
    <p>
      <%= check_box_tag "option[#{option}]" %> <%= option %>
    </p>
  <% end %>

  <input type="submit" value="Go"/>



</form>
