---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0179479,-105.2795348&name=shine&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.018807,
                       "lng" : -105.279253
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
                 "name" : "Shine Restaurant and Gathering Place",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 512,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAJbPz4CqzvaBi2JRq5HAHyYLmKNKIj54j1VNS_kB0L7xD3vi0T6TT9xV3nlpJwVkcZpJqoRLkVolQUDujptEJHqhadeM1EC_lxVFiftun13ooeDljv1xP1bGkEt24xrIElmolzNWSIGeKOIjJ3yutRBIQ2Wp-P_UCgsDDnzwW5_PJLhoUx96sN6aru4iSe2CkE19b2mwXKZM",
                       "width" : 341
                    }
                 ],
                 "place_id" : "ChIJve0ZzCfsa4cRYKABDAHdY_c",
                 "price_level" : 2,
                 "rating" : 3.9,
                 "reference" : "CpQBhgAAAOMBpyR-x0mJDiMXKvdLUhpLMJOvu2xmnyq90Feqs6eHdRlxAfRBAjApMM9Jq6FqTiTTar_OLRaIAbkuJ3D91J8crKSWXC5MEN4Z0SKiCls8Rb9jtX8f4cjuPXyR4wfBNwFTXaXRVZBmVd00u2GfxftYTd40Pq374-ISCBT-iOi0qE5kn733AL0mkF3BetJEEBIQICGF5in3wWNIb1od-PxFTRoUWl0jIhCXtvwwVJTkMNXzmY8pkiQ",
                 "scope" : "GOOGLE",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2027 13th St, Boulder"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 13 Jul 2014 19:24:19 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAJbPz4CqzvaBi2JRq5HAHyYLmKNKIj54j1VNS_kB0L7xD3vi0T6TT9xV3nlpJwVkcZpJqoRLkVolQUDujptEJHqhadeM1EC_lxVFiftun13ooeDljv1xP1bGkEt24xrIElmolzNWSIGeKOIjJ3yutRBIQ2Wp-P_UCgsDDnzwW5_PJLhoUx96sN6aru4iSe2CkE19b2mwXKZM&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 13 Jul 2014 19:24:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CpQBhgAAAOMBpyR-x0mJDiMXKvdLUhpLMJOvu2xmnyq90Feqs6eHdRlxAfRBAjApMM9Jq6FqTiTTar_OLRaIAbkuJ3D91J8crKSWXC5MEN4Z0SKiCls8Rb9jtX8f4cjuPXyR4wfBNwFTXaXRVZBmVd00u2GfxftYTd40Pq374-ISCBT-iOi0qE5kn733AL0mkF3BetJEEBIQICGF5in3wWNIb1od-PxFTRoUWl0jIhCXtvwwVJTkMNXzmY8pkiQ&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2027",
                    "short_name" : "2027",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "13th St",
                    "short_name" : "13th St",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Boulder",
                    "short_name" : "Boulder",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80302",
                    "short_name" : "80302",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2027 13th St\u003c/span\u003e, \u003cspan class=\"locality\"\u003eBoulder\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80302\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2027 13th St, Boulder, CO, United States",
              "formatted_phone_number" : "(303) 449-0120",
              "geometry" : {
                 "location" : {
                    "lat" : 40.018807,
                    "lng" : -105.279253
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
              "international_phone_number" : "+1 303-449-0120",
              "name" : "Shine Restaurant and Gathering Place",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1100"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2200"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1100"
                       }
                    },
                    {
                       "c[...]
