---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0178149,-105.2795947&name=Shine&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.018867,
                       "lng" : -105.279056
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
                 "name" : "Shine Restaurant and Gathering Place",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 512,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAB_fMrcqmDNwF0R58RRY1h6z_xuV2qbFNIzbbWtNRdOhNhDAK9A7sWOvEWjn-pA3OilJ-BbcREfCrF6vDS6tgqDEMWwYYJ_QXYMZDIZy0o5T9JK5-MJv40wmJy_ylmOfaXPniVeXVX0eHHUpCeajbBhIQHNKerMuQv6olxySo6A_f6hoUx6VCNVJ_OLxMVqntMkkeWBLSsWw",
                       "width" : 341
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 3.9,
                 "reference" : "CpQBhwAAAKrJnmexa3ytW_rhhLgbarbDrzWcgSD7dTmKp9y8CRliD6RFUlvd4Hqwm1B_ZxdMnanptNxaK2xY2J4sUzac6D16bZM4fzVyOEjV6GMN_su63nUq8_Qw5vxIeWe30GNdMapYF7HawpxSM1GYFE_R6LEcFplPBoo6oj1RU2WGLZY0lmflaYPLoeYR_sb1ysMSjxIQdUYNLYwrv3Mt6-l9bd9fxBoUyk1uGUIXazWZIaWldy3sHygKLwI",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2027 13th St, Boulder"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 May 2014 16:15:47 GMT
recorded_with: VCR 2.9.0
