---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0179479,-105.2795348&name=Centro&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.017196,
                       "lng" : -105.282545
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "9bf72f40861b6ad7c8414e8ceb5cb827bfdabcf7",
                 "name" : "Centro Latin Kitchen & Refreshment Palace",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1362,
                       "html_attributions" : [],
                       "photo_reference" : "CnRqAAAAuyY7INo5cr-WG138wIg8bQGmGYkYqVH5Wcu3qIZaawgnfVkgTiVVHhu0CCJe-F3gkMswK25lLILobnOJx3fj0Nt0SOu4BcGyAP3kYZ8OdtjXFekAv0KBqScQMH8pBtwquWLm9iQ0nhSBviZcP5z_QBIQ9OB0NS-hfmGVqiQ-KBg1eRoU0CS7reCmPqnhTBh_W0UGZ_a0Owk",
                       "width" : 2048
                    }
                 ],
                 "rating" : 3.8,
                 "reference" : "CpQBiwAAAO_Ti0RKbUhtn0qNoCRoDpthCbliaMspY9Z68_4X9_o9dZnFw58YjBFCiC2ifUUXUu8pDidsyGdiFVoeNUAY4unWc8wWjUrccKs3L-7_uguWdCKi3NHvjqFYaUCCQ-Mr_pnLbo4VPt0xMKQSS5Fi4JlKF2UZil97k6Ft4Pu_BqrG2TYkOHVrQk_wHUDEGgeSYBIQeLQRt6xqwOozhDj3fkkvdxoUEzjAjApjbaGGN5sS_UUTPFwJ0HY",
                 "types" : [ "restaurant", "food", "establishment" ],
                 "vicinity" : "950 Pearl St, Boulder"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 14 Jun 2014 17:23:13 GMT
recorded_with: VCR 2.9.0
