---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0178149,-105.2795947&name=kitchen&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.017647,
                       "lng" : -105.281682
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "446108f792f39aa983ffacb5d7093a8459d22648",
                 "name" : "The Kitchen",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 112,
                       "html_attributions" : [],
                       "photo_reference" : "CnRmAAAAC7U2cvPToRizXdbNsRIopdglRj31apVeT_cO1fZsVJ3OtoMjy6nJN2hhtnjWLZMwQJzWZ-qkT-F4Xpg8tDoo9H9pGi1FM0rUt-85fP9V2fZf4Gzw-Ij22oiJ4GbvYizY_WUrBZhzAomirV5u6EC9ixIQp2fvaixzFZ5P1e8nfuy2ExoUprX8z-2O_Py1oBE2W2wcOcnN2CA",
                       "width" : 150
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 4.2,
                 "reference" : "CnRsAAAAzZGDE5G8yVE_4NVpKhnCmS7C0GjcjDGSHjRzPncU7720sILHzaRz4rr3H0WyRSzCtdsSkK2Y9cSO0HOAZrA5UphJJMSajbzuXSvZXilq-PWoQGzjxmu1dzdtnBU8l_w7WnxTF-ZIGF6peNMFbjP1qxIQqdNKdnsuAi0tOIzIKQE_YhoUxEGGUisvH_x5zCPiU3YDz6J-10E",
                 "types" : [ "restaurant", "food", "establishment" ],
                 "vicinity" : "1039 Pearl St, Boulder"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.017255,
                       "lng" : -105.282475
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "9bf72f40861b6ad7c8414e8ceb5cb827bfdabcf7",
                 "name" : "Centro Latin Kitchen & Refreshment Palace",
            [...]
