---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0178149,-105.2795947&name=Shine&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.018867,
                       "lng" : -105.279056
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
                 "name" : "Shine Restaurant and Gathering Place",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 512,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAFKzr_BYMKYv-CBgs49CSQeKoqS7TjaXctQzAtSSZDBl6m8Z6IGuhkyYbWGxd3St3t0QDZf3PA3RN7mQ6lxdXRtTjmU9C22G82Ru_A2xezOhFm67b9UJuswBXopr1YAVGIoCVwqQ1KBaHgZxXOS9_CxIQlWr2aLJLjq_k6jTdzHEHRhoUUlree-yKVnrIqm89tInHqwqMoWE",
                       "width" : 341
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 3.9,
                 "reference" : "CpQBhgAAADviMUbDFGKSwuU_-b84sPNugdeAFa_y0Jbuhv4NDTv1DUE6rz17T-ed430MiAOQLkZOHAMM2zoYw9x0RmvJHKKPjOxf6zueGVXTSaKdx01Avm2lIZW1Ikxx4thWvtluT2QJJn3jZsjcSKxwmGr3Jq8iM-zjRK3lJtXpx1Zlt2ovFa-vBpnBynSXayLGhzopKhIQom0diZfHpShmSsJgR42CWhoUNCw2wM66w7pG8uzFHe5VEV3cW3M",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2027 13th St, Boulder"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 May 2014 16:15:48 GMT
recorded_with: VCR 2.9.0
