---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0178149,-105.2795947&name=Shine&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.018867,
                       "lng" : -105.279056
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
                 "name" : "Shine Restaurant and Gathering Place",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 512,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAA9LsHLhbPLYtXW5m8oUYrS45oaCIk26gBKS4UHmA-c0RxQ2iHRKGU5WGznDwoiHxYj_4uguK6grtBuLEjQZ_3mjGQTzG808-wsVBDGedxR6iqK_RHFKymIEh4qu1xkxl9UHpi7v2_1jSSOAL_YsHVdhIQJcp0azwNX0ra5thsBacQ4BoUWjsyZMFC-wMm0x_VaDf9WeZ8WWk",
                       "width" : 341
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 3.9,
                 "reference" : "CpQBhwAAALiC12hbsOGVRp7r3t_AdS_p1jmcKM0l6kR_Ffy_Lh9U_Mflovviue9j3FIFQzAW1i1UwZ0ZSetQ6Oo_fE5DQdNZ-ZloVyuzTGTuJKDbhWjalKGabPDeWOjzyEyyg8MACDxDE3iaISRcyJnd-vFZZVKAW_mGwIYzssCXTRVwHWYXvLNhcrcg9oNHg6qdbLse3xIQXzT1SN9AuTha_TczHRwUQBoUbIAxxgS6RUf90m-TcQ6CXqyADd8",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2027 13th St, Boulder"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 May 2014 16:15:47 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA9LsHLhbPLYtXW5m8oUYrS45oaCIk26gBKS4UHmA-c0RxQ2iHRKGU5WGznDwoiHxYj_4uguK6grtBuLEjQZ_3mjGQTzG808-wsVBDGedxR6iqK_RHFKymIEh4qu1xkxl9UHpi7v2_1jSSOAL_YsHVdhIQJcp0azwNX0ra5thsBacQ4BoUWjsyZMFC-wMm0x_VaDf9WeZ8WWk&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 09 May 2014 16:15:47 GMT
recorded_with: VCR 2.9.0
