---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0178149,-105.2795947&name=Shine&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.018867,
                       "lng" : -105.279056
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
                 "name" : "Shine Restaurant and Gathering Place",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 512,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAP9vTdSr6OOls3aX6xZbddcwiG7-U0y1HpFul22DDBkp9uWVnpOs2fKAd9amZS2MJp-1T3V6UQ_bld6i7yF7veiH4DWLJExQD-23StTGOJYYBlkw-D6viNU2pN82rQx4sJPIYWX8XybW_gCTb109PnhIQvJeLS-joZPVrW0Xjl-QmrxoUWPXgBXBMs4OckMbqNNatyiG-nVc",
                       "width" : 341
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 3.9,
                 "reference" : "CpQBhwAAALRANhRbQwbVHzDt1x0okuqIuKrwDMHrntpDbXPM5oykyiaMD3V3Zr8ocil4LbV4pWqh0Jjb-CdBDR-5b0kd9rgvxMiv1C-kIakwI9MO4lAGhYrPZsE1w9j-9Brf8KuqUeYt4ig5wQczMLNLajIHnJXmw5To0F9SXlYECPxbfI8IKELRhSUt2spgGAedBNIqJRIQljsYIHhbHjXQx4vHTH4LghoUFOXGnTaBz4rJKsFidEGqkDl8Ouc",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2027 13th St, Boulder"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 May 2014 16:15:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CpQBhwAAALRANhRbQwbVHzDt1x0okuqIuKrwDMHrntpDbXPM5oykyiaMD3V3Zr8ocil4LbV4pWqh0Jjb-CdBDR-5b0kd9rgvxMiv1C-kIakwI9MO4lAGhYrPZsE1w9j-9Brf8KuqUeYt4ig5wQczMLNLajIHnJXmw5To0F9SXlYECPxbfI8IKELRhSUt2spgGAedBNIqJRIQljsYIHhbHjXQx4vHTH4LghoUFOXGnTaBz4rJKsFidEGqkDl8Ouc&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2027",
                    "short_name" : "2027",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "13th St",
                    "short_name" : "13th St",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Boulder",
                    "short_name" : "Boulder",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80302",
                    "short_name" : "80302",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2027 13th St\u003c/span\u003e, \u003cspan class=\"locality\"\u003eBoulder\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80302\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2027 13th St, Boulder, CO, United States",
              "formatted_phone_number" : "(303) 449-0120",
              "geometry" : {
                 "location" : {
                    "lat" : 40.018867,
                    "lng" : -105.279056
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "d2883f3f956ae221b0d144040088188c49cdc5e8",
              "international_phone_number" : "+1 303-449-0120",
              "name" : "Shine Restaurant and Gathering Place",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2300"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1130"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2300"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "1130"
                       }
                    },
                    {
                       "c[...]
