---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAMcOJIMV6swpmRMO5IXdyXFVDeR27uAwgJq0T2MgmIel3IKIbYt632Elx7Z_RXbLTSmNGly-QpU4BLRR4QpYhwZDm_GSQaxOGszCQMErllyosAUuynEo3WQgBVLXUFpe_8ytPJCzrurprSrJAd8RE3hIQqYkLDZGsUGYov_Lu73eR4BoUmN8G__SHTVtyzszK0bLqWiTy1zE&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 09 May 2014 16:15:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAwvm8sz74Clj0Xl73jVnQPcRD1mG4-FRIxTKWU8Onoufav2LVcNT5KBa0lo8JJ-p1hewS3Bk2P8GYVentUr41aaAaZvu441EelxMY0lw_ufg0WEnOdZk3sCqfGklZI1xvRfa8ovyKIUsA4OFYvxOPjxIQXSxunbi5Fd5nfZjS16QSLhoUj3Pzlgx4i12cF2M40U7ANEV-WSI&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2030",
                    "short_name" : "2030",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "W 30th Ave",
                    "short_name" : "W 30th Ave",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Denver",
                    "short_name" : "Denver",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80211",
                    "short_name" : "80211",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2030 W 30th Ave\u003c/span\u003e, \u003cspan class=\"locality\"\u003eDenver\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80211\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2030 W 30th Ave, Denver, CO, United States",
              "formatted_phone_number" : "(303) 993-3120",
              "geometry" : {
                 "location" : {
                    "lat" : 39.759468,
                    "lng" : -105.011378
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
              "international_phone_number" : "+1 303-993-3120",
              "name" : "Linger",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 2,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 2,
                          "time" : "1130"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAwOHREaOlaYnUseGKksaekf9gDDwM2PX2nuEWt9tm-TJW110Tow1YZQRy5Uqf9hnykj0TLzykAVPYQZzDe4JZTm3q31egSi38YG1D-eJ2Zf_caHfABCMy4pxtRJK2zEgx_QQWdpeMabjvRwy61CoZwBIQxtuiFTyb14PuwveMRRKiQBoULrMBQDmcghv2ATrA6Dd3k5GgayM&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:09:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAF02BrcdJZ0JKBhD9ICpQb84997iEFwULgl79HRfcBzMYXwnC8v7crCNSsggGCi7OprmAXfbGCGLi56KsbfLHnJfQ1pOAnaHnyasrRnMyluLLyLKh_9fu8bPGqALzj3TGDjTjTF1SrPP1bg9AGFbAmRIQrTMaT-k-k72vKmKcsTTHLxoUz53Zr65SN91K2LcfqR-d5KBIsw0&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=39.7594564,-105.0113582&name=Shine&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Fri, 23 May 2014 22:09:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAtoNNSvPQ8utneq8MWbVPwHO1EkgC0SjYo1AKKHwNfTIyLK13-V40TmDFQQq_xzn_IC52clwSdtVdsJwFjoTuv64WnVMEGurXdkQ4fJDD_1ATG61E_ByvTkb0RIVaNoe8EnQCLe74ZMVyLUhIRRRMSBIQrwxf7QngWHaxdt0zTzPRkxoUlF6Z-Lf5BF8oqJk-jh0QWSalnrc&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:10:39 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAE8nPrtLBt9_2ZNf7AA_BZ41FDBMwpoxM0Au-0My_ZyZJyaek94cDVkzGBeA_EkHxX0LV1ztpZnHBBTdUaCFPB9G6Outa_1lM6jsHvsSCyuC0B5ad-oWHT1rk_Y6S0gCL5yupK9vz2pwdRLBbr1ZCiRIQFi6TYGjnTnMBPo0eUelHkhoU2BK3u7aRUbVP9vQBHAjnA4mY-eo&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAIn_TZ5Ein5QakyM4QRtUYfLBQlitM0IpWOnUUzeCggTzP0uqS89mEkRFfAyzH_q8aJN9GVWVvGaf165UHOmQWipaz5gjuYevaLVcWYsu1ZpPrxBK51Do_MtXOUvzLrsEc_tJLDrvGhRbQAIr0FAZEhIQVrAHJ7qValWBgTrIxrfAUBoUMNa81To2Aowg7LxxJUMpXLMzirU&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:10:39 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CpQBhgAAAGVZ-IQ-RkY2lDNG52Uc0DrLe2FPz4DCy5wswxtnPPJbnr6MMPOqC5vLQrWdEJTFdqNnSwv1kDNZsptv4TlsHY4NkD6qn0D3DUOy0kCC1qygoh697iTD7gW8dK5ixAjpJ2rrwxfXE96c3dIG4iv8w-L1FbWUBOE9uhmNShdzimTy4MM0hrjAO7xEdQpS8n-PCRIQ3Jn5JOUWPjW_c_igur3ZMhoUsxdzupaj8sklfrN0NHlpfYZIMe4&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2030%20W.%2030th%20Ave.,%20Denver,%20CO%2080211%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAXtq_pcQStaMNMT-hfq7xUVzdCf_A2YWxbQD-3ACJetNFOYkPsjAyVJy8g-zkVjualrOnNd0P0NEHzvbukyuGvzQItmpEenvw3U5BU_nyYP5ApPFg1cAgcVssS3j3xoHFUSY2In-UpCqnFMOxCAItlBIQi9AUvLBFQTP0LDfGK7T3pxoUOoSZRfBpvG3wFoXfaYZX6UBTU3w&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:12:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAA8bQNiQz9_ifhvTPdetT9bltmDImRskmBOTbb_Bf14aIuIzFE8qQ_65jVDnfIVFPpTuTPWxHX5oX8BT8uRBRO9FZ-2XiPuCvtipmmJ3bj8K2fNXeEJNN37FTg0hEBgBzO9oc1uivL_skweKphkrbvGBIQ79SGjSZVpv5BaYBcQcKXQhoUbBdYIPh1hwyprF-CmwcDUlyykuM&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAT3XYAj-cclRMjfgPCzD95rv1NEIIeZGPuUa02Per876ldsTzapaS_0QEPONX5orZXeRCnbMLeDHr5mHZeHHlh35xTiG_jFVZf2H2DlYz0TfSD3psKEi9po-Merd28rJLzZKUn6Hqj5zPRJeejXU4uxIQf7ffhVdMcVHBhEGl_h8DFRoUeKHkkbET2aFmIqzeGzXvzKZLAAw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:12:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CpQBhgAAAHKeZBRkX_OJTE5bS36pTtLaL539HCuNLQP1nPBlbUq3aFtmvVdE5bksZZPpTUqz0IUtDB7WSA5DUkCRYP2xrM498GmjEo36ja0fz1r-L3nP3EqvGNjgW7AWQD9MIecNNLAcRRtU0GZiyTPUt1dg5F-8KM3EhmoeGTL1Tk-_rLA_ZxkNeu_UOxRK1Zz1vZ0BsxIQeoK4sxjhDlxpPmZNXY0nrxoUaRuFctrdnlvl5OEOkFqns9G3gJk&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=39.7594564,-105.0113582&name=Linger&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.759468,
                       "lng" : -105.011378
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
                 "name" : "Linger",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1365,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAA3JPitN7HFQUUiZRjr7hg1lochn3WXN5tW35bpqm4lnWxsayM_WKNJ5aqS6PRnXVQnFdtxJef5EFxxThg_Jwd_iQkZBMhiatJbPSjd1JrCwz1QsA3nGQSL5uUSZctVwIm2B5w9tochJt6SxR0kr-D4RIQ0Pdg1_LbwelFaGTf7P3v4xoUe8I63Gj6w1IfVXgFqvqSIZzaKMY",
                       "width" : 2048
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 4.3,
                 "reference" : "CnRpAAAAtiNQKylwrhTF4s8Ucvue78gGOO7Bk1dFbwpZph2ADdekbKh10zKq5-oZpidvsGUUCsfFnYVVMB5l0Rxmxq79WXSqyVvyWvNVr5GOqkjJ5C653VLhU1kMADZxK2R3nZIxrClSJXRWEcP3saclrRirTRIQPwt8WzBswSr-C-tdNFJw-hoU_E2C-1C93boUCiv9EdvG6I4u5_I",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2030 W 30th Ave, Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 23 May 2014 22:12:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA3JPitN7HFQUUiZRjr7hg1lochn3WXN5tW35bpqm4lnWxsayM_WKNJ5aqS6PRnXVQnFdtxJef5EFxxThg_Jwd_iQkZBMhiatJbPSjd1JrCwz1QsA3nGQSL5uUSZctVwIm2B5w9tochJt6SxR0kr-D4RIQ0Pdg1_LbwelFaGTf7P3v4xoUe8I63Gj6w1IfVXgFqvqSIZzaKMY&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:12:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAtiNQKylwrhTF4s8Ucvue78gGOO7Bk1dFbwpZph2ADdekbKh10zKq5-oZpidvsGUUCsfFnYVVMB5l0Rxmxq79WXSqyVvyWvNVr5GOqkjJ5C653VLhU1kMADZxK2R3nZIxrClSJXRWEcP3saclrRirTRIQPwt8WzBswSr-C-tdNFJw-hoU_E2C-1C93boUCiv9EdvG6I4u5_I&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
 [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAALAhU92Xj6YlhT3Q7Lv_vlzmbi_kEE50bY4D5jgfTYoSSFiQe2RQLTdJ_0i-ywEHpxuo2rHTlJ44PMocseDULjGFJb7b9-AShINcklw2gVf_wxZ_kbIaMUdzjquHgw6sAVI69-CXDUihpoyMKHLU_ZRIQjAoCYGfgCJCkfc86ZfjxYBoU_ewgbaltXbF4OoJD4pcaIDHhGjw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh5.googleusercontent.com/-bPP-ol8Sb-o/UjEkAUKaoLI/AAAAAAAAD4Y/AqRIATez_v8/s1600-w341/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 22:12:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CpQBhgAAADkixmhmHbZJOnnOwI0TQSQYNd3KhVE4CrF0fqprsBzy4EOqCFPKOhUpWlhS-Vz0_cqbLLWSAEfeg8Yc1a6AFlOdy-3Xm0hCFLNB4Ida6yUm-IXgOnAfivbA4LdQxhUS0pnrT18K1PPCQ0Bzyh1rVMyuf1kosUJhyVwQ87B6G7Hd144Rt3PYRe3iBUFTPyHYKxIQsnVntobEMCSgdpArA4mGYBoUHuSLEE2mmNIANTZ90PLST7CddN0&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
