---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0179479,-105.2795348&name=Adfg&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 13 Jul 2014 19:24:18 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2030%20W.%2030th%20Ave.,%20Denver,%20CO%2080211%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2030",
                       "short_name" : "2030",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West 30th Avenue",
                       "short_name" : "W 30th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Highland",
                       "short_name" : "Highland",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
 [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0179479,-105.2795348&name=Kitchen&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.017797,
                       "lng" : -105.281749
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "446108f792f39aa983ffacb5d7093a8459d22648",
                 "name" : "The Kitchen",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 112,
                       "html_attributions" : [],
                       "photo_reference" : "CnRmAAAA1TgoVldz1OmVJhNw-k_dQOjIp8kA3FkYAaZG-AsTXFP4bAypYw1eINcjML3GLOGGuBUsOvFGFbDWd1rKZibeSM6_uurBcqHTR2f1R4BqWv56MnI7ZrVkqZbnC8_yi7E8j7uXsE4PsvGqLWJJQ-NRdxIQwfTFi-g_Org_HZ7FsDegKhoUWG26Wo6kGFSTzx4uhlvTf692Eqw",
                       "width" : 150
                    }
                 ],
                 "place_id" : "ChIJbfI25Sbsa4cRMz0wQhLNRB4",
                 "price_level" : 2,
                 "rating" : 4.3,
                 "reference" : "CnRtAAAA-lDiW0WCb6MU8YmYwN8q_KwhwaC343I-_kW1SSXs_M2tv_NFdHiPJy8KuU_umIRtFU1_ng5AExGsBUkaNsC5VJE_4pTuSYMs9gi2C_EtaZz0N7hVQuJ3Ocuos3C27vwhHpTMnAE_5xhl0dpJ_HNdThIQzkvR9HfZ-yR6TD9GQrSgfRoUYiuN6f4hPIPH12Ouy4LVatrXTfs",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "food", "establishment" ],
                 "vicinity" : "1039 Pearl St, Boulder"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 40.017196,
                       "lng" : -105.282545
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "9bf72f40861b6ad7c8414e8ceb5cb827bfdabcf7",
                 "name" : "Centro Latin Kitchen & Refreshment Palace",
            [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRmAAAA1TgoVldz1OmVJhNw-k_dQOjIp8kA3FkYAaZG-AsTXFP4bAypYw1eINcjML3GLOGGuBUsOvFGFbDWd1rKZibeSM6_uurBcqHTR2f1R4BqWv56MnI7ZrVkqZbnC8_yi7E8j7uXsE4PsvGqLWJJQ-NRdxIQwfTFi-g_Org_HZ7FsDegKhoUWG26Wo6kGFSTzx4uhlvTf692Eqw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh5.googleusercontent.com/-Oawae8x7w-A/UjivoG2ogYI/AAAAAAAAEcs/bqudnes7Xms/s1600-w150/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh5.googleusercontent.com/-Oawae8x7w-A/UjivoG2ogYI/AAAAAAAAEcs/bqudnes7Xms/s1600-w150/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 13 Jul 2014 20:12:58 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRtAAAA-lDiW0WCb6MU8YmYwN8q_KwhwaC343I-_kW1SSXs_M2tv_NFdHiPJy8KuU_umIRtFU1_ng5AExGsBUkaNsC5VJE_4pTuSYMs9gi2C_EtaZz0N7hVQuJ3Ocuos3C27vwhHpTMnAE_5xhl0dpJ_HNdThIQzkvR9HfZ-yR6TD9GQrSgfRoUYiuN6f4hPIPH12Ouy4LVatrXTfs&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "1039",
                    "short_name" : "1039",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Pearl St",
                    "short_name" : "Pearl St",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Boulder",
                    "short_name" : "Boulder",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80302",
                    "short_name" : "80302",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e1039 Pearl St\u003c/span\u003e, \u003cspan class=\"locality\"\u003eBoulder\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80302\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "1039 Pearl St, Boulder, CO, United States",
              "formatted_phone_number" : "(303) 544-5973",
              "geometry" : {
                 "location" : {
                    "lat" : 40.017797,
                    "lng" : -105.281749
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
              "id" : "446108f792f39aa983ffacb5d7093a8459d22648",
              "international_phone_number" : "+1 303-544-5973",
              "name" : "The Kitchen",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "1400"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "0900"
                       }
                    },
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1700"
                       }
                    },
                    {
                       "c[...]
