---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2030%20W.%2030th%20Ave.,%20Denver,%20CO%2080211%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2030",
                       "short_name" : "2030",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West 30th Avenue",
                       "short_name" : "W 30th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Highland",
                       "short_name" : "Highland",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=39.7594564,-105.0113582&name=Linger&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.759468,
                       "lng" : -105.011378
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
                 "name" : "Linger",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 1365,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAjDYzMw1-dEiaCzIcErZqtMRJJLIqqp-kSlnbhX8mO4tsYzT-6kOspp_01zkxRsBrIZxy6tGpyw1WbcgBhFFcDGTnZxkdXdwbZpM6UIzZKSslMyufbJ8VwwXFIXVf30omUeqwsz1Hn02qIq0dgFE5VRIQEy4Ljanl6Byn9ucwCI4AjxoUn3SLu8wcmVhiZ_ZFLGsB1kzmlAo",
                       "width" : 2048
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 4.3,
                 "reference" : "CnRoAAAAQW77dk4jNJixrpATA-Fo0NcFAWEN-q5wKgoIXbIOUkvJuCuefLBMdia2Ne9gU-VqGbNgnLEkxRCxSUwGuWBj9kxa-KAg9leZmuwk1EZLoVmE8qr7sVbGuSLzydg4VCsQrMt5Ac5r8bSd4BxZfTxttRIQfPexloOSsLKKixfWVgc4ahoUBbiUrbx9Hoj6MLbbOUHP9gVx0qA",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2030 W 30th Ave, Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 09 May 2014 16:15:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAjDYzMw1-dEiaCzIcErZqtMRJJLIqqp-kSlnbhX8mO4tsYzT-6kOspp_01zkxRsBrIZxy6tGpyw1WbcgBhFFcDGTnZxkdXdwbZpM6UIzZKSslMyufbJ8VwwXFIXVf30omUeqwsz1Hn02qIq0dgFE5VRIQEy4Ljanl6Byn9ucwCI4AjxoUn3SLu8wcmVhiZ_ZFLGsB1kzmlAo&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 09 May 2014 16:15:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAQW77dk4jNJixrpATA-Fo0NcFAWEN-q5wKgoIXbIOUkvJuCuefLBMdia2Ne9gU-VqGbNgnLEkxRCxSUwGuWBj9kxa-KAg9leZmuwk1EZLoVmE8qr7sVbGuSLzydg4VCsQrMt5Ac5r8bSd4BxZfTxttRIQfPexloOSsLKKixfWVgc4ahoUBbiUrbx9Hoj6MLbbOUHP9gVx0qA&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2030",
                    "short_name" : "2030",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "W 30th Ave",
                    "short_name" : "W 30th Ave",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Denver",
                    "short_name" : "Denver",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80211",
                    "short_name" : "80211",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2030 W 30th Ave\u003c/span\u003e, \u003cspan class=\"locality\"\u003eDenver\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80211\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2030 W 30th Ave, Denver, CO, United States",
              "formatted_phone_number" : "(303) 993-3120",
              "geometry" : {
                 "location" : {
                    "lat" : 39.759468,
                    "lng" : -105.011378
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
              "international_phone_number" : "+1 303-993-3120",
              "name" : "Linger",
              "opening_hours" : {
                 "open_now" : false,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 2,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 2,
                          "time" : "1130"
                       }
                    },
                    {
                       "c[...]
