---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAP5N9tDehnjEuXTHtx5FVLgjvs-5viMQHvT5SZjYPymaHBN2kLb8FcKl0JX6Rh-gjyKPTCaHUwDwIrKmz1cPGiLKJDEfuLHg5X_KeiGf1PYaJwRI2OXv26BHgsiRIy-KkpuR3n86aScE6vnWpOr5VThIQpXr3BLM1vD5OI8jZr1rqXxoUSoyRCN_uNy39fLbQcILwzIpwPpQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 19:55:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAA1GcZxYQQzQtEYqmnuRK52hOf81VcqtDDjsr0MTxGehmWDObKu57nuqCV39s0CRfi6gFUH8lMZmsFO04r-k7TLJPnXxqm1iHUZThpXe_fZDO9sVM2ni-fQ4c5MRyn7RJtonDN6TTBUFjMWIrT9DYaUxIQF4JRVonLbpLNbu_h1iFtjRoU1VcxfULfumfkYBFO9T8p05FUSB0&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2030",
                    "short_name" : "2030",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "W 30th Ave",
                    "short_name" : "W 30th Ave",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Denver",
                    "short_name" : "Denver",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80211",
                    "short_name" : "80211",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2030 W 30th Ave\u003c/span\u003e, \u003cspan class=\"locality\"\u003eDenver\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80211\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2030 W 30th Ave, Denver, CO, United States",
              "formatted_phone_number" : "(303) 993-3120",
              "geometry" : {
                 "location" : {
                    "lat" : 39.759468,
                    "lng" : -105.011378
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
              "international_phone_number" : "+1 303-993-3120",
              "name" : "Linger",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 2,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 2,
                          "time" : "1130"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAh6R1xAIn_1eKqW1viyJF-xlvzcIIy_EjhdqcXE767FM24ESSCQXnPg0y_JU7z008PsjZT1-i4rlZXgVMiZKtzq67IfTBAgYrF7oLlZLMBEQ3F60ktg9Mxxsq-E8IQYA0lIJRjiw_2kZTGx32j5McNBIQduYfCOyeODhEwHdCKa8s1xoUbytcHKbOQKagOP5so7BhT0TJ2Cw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 19:58:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAQL5cKuUzlbQlhQSU0zzpFLtji8MNUSCvuox-YbVNjk1K1Pe1mZKUFnzbsBtWZGFqHsF8gua5wjEM5QqxhOW2H31kKbG94iK6Q4I9PGgW0P-koKmLoQtIGFzHyty_-jaxzkqsko1cBmSsJKIvRIvEdBIQvIvYo90tl3ifKSItvJQyVxoUyBEZaEzSR7sedR4BpLPEjnyQRA0&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAwX22HNOY2ZEAhUN7LW9dizpvJO00gRcU1DgHw9jtmr7qrae3pGVfWBSS8X_R4e8tjmSGEjGdtplLyWOT4mxGXX7YHgVH5dLOakpSWDpGC-NOzPnxON_OidtKOihAtQ0OyTKG8NxmMZ_W1UfHHfu8DhIQZHaJ8TKU3tR7bpFs26YDVxoUqwrHh4dJj69nNKKtEvl2PbTArZc&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 19:58:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAATemIuX8aHq3tsjesklQWJFKL6RTQWnPFyWZ5LeMGB7iHOibwV8aVt3SPHcVpOHjfhBD75fwEaa_qL81ZPRwA50JxheAvWbVdmGlNTnBm-AGu_sSoSkArWkHE2TtxIiFEidjEYJbdOJrnmEAKe7vDaxIQnM79_DitVDVVm4O0bH2KdBoUOv01Xche4CVcNCPkSTMYoLX6S7o&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA32bicEXCH0VFIyRT_RwA4irg29oXWcXgnkUYpGEftVOn6e7sq3AdX8RvjuFPaJjxrr3hI2MC4BEdDkyC-gQT-mU2_zlducYdmgU42s9TMkijFmjNZbu4gGH_qv1P3CQYHHWc65Ekw3oVM5Wl0fPb-hIQwWccPLEFmTbdBZXcRSlJ5hoUaDop-SI_XdQqcfPXMCiHHN2xL_I&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 20:40:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAZMZy1pCRX1rEa7bHVT3vE9-sLSX5rWmcsJdZHZEF5Cmu28jQXqDV_bNdHb1Emgxdt2CuywxnLVyEiNCsRU8eHpj5wrnQOXXODK9wcT8Aof01uS7LdZ9r0sQ7fXZ0Mflz2BEsA03fdqeFCB0tHf8r3hIQweuWUIYbpNMRrW8g0P_gxhoU7upChRjNd1gtGMBcU9ZKB8j4Krk&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAT7gop1oRO-SkP08Rbou7VaImKgHGNlATi9BKzx5EAeiuWDdfXsu2Q1u_sLNMtr0SEjmUlCnnWeQq2KPM-IXICEEaRb-C3SMtvaKfziYv-jCBIhYA28YhvmG3Obz9oo4z34rXovRSqmFKcNUipvJEDhIQOY1M2KwkjIuupy1pIFJ_fBoUl7EX9wnJqb0IPuw1Zp5SqGFqeew&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 21:37:11 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAANghWtxXKN5Oqk-LpOP9qQav-jHUdYAa0ZASEKJRchr97gEEz3T14Ms6Km5M8NssfeI8efW8mKtPAovXlWFfP8V7dEWWtobyzk3bNqjn7x7qUtupPasXViWA8Pu4MfqnoazyrdJH3SHmIKiM_Y2RV1BIQrAXbMOwHc5PBSGZ0bYS4DBoUcv68jg7B5qk_KK5LiVNOtIjqUkQ&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAHRp99e9fY2BZIjeixsBSNftJ9ORr_jA7yqHImRKOmWSycfjLXR_j01uY0rzK3ud479FX0H8W71bGjr3QKLDYTUzpxJuuaSG2yhV_7wkXTGK9WVtRWw_piNVpmJy0spqCrfbleFyLCnDpva7QC2hGZxIQdF92buWJ47M1qmxOmYKPbBoUItoZGVwdQR1KT2wiLmy40hXrv-4&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 21:42:44 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAtj2AmwlPA6sPc5C8TGRM4VfjJdOGfmoPCjzbLORBuTs_WkDDPol7IdEVS-dVZ_Ai-6wRd3t1mhrq-4Ip5SJUSuqXGo5GeI1dx4sNSFUe1kc6LTBwyY3lJUDm-Gov_6dhK7Q-IiMiVFsl00FYEynb6BIQU-4aogZ0Ecwy8yG-N9HccxoU5lD60rhIcFAdH4jO4EDB86ybADA&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2030%20W.%2030th%20Ave.,%20Denver,%20CO%2080211%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2030",
                       "short_name" : "2030",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West 30th Avenue",
                       "short_name" : "W 30th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=39.7594564,-105.0113582&name=Linger&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.759468,
                       "lng" : -105.011378
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
                 "name" : "Linger",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 1365,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAOpXYVKG1RumUFsVjgY17ZBasjcqYagIgJHRfEeOFp5I5hQUBcoDYT6JthdnrAWdBMCcBNsrKqZ9P5ZysGPEoiir-q59JKAwg_JVbB-YNLdFk64VVMZxaMbyMXDrco3s57FEeRW2enEIZLHsCLJkf7xIQcI5wWBiEQZanWlpbuTQYVRoU2Gap-8niCuhAPJV42mDcJf7EAIs",
                       "width" : 2048
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 4.3,
                 "reference" : "CnRpAAAAgvbHatph0bZFQL5iIYXaH-NmVScRVj2s4tbrFkG5wx7NuLsf4B5ySjtTjXsvuqVHNOK56tRtru9LmgkUH7N-pmIkOxowqKAWq6HGqyQgJpyF20tsXfcVf5XhnLe9RwcUJpF56nLCVkNjvSV6m6dejxIQ8Jo_tFL8y37KlLkmo1bMRBoUOeVETu8y-qOV5NBvZmYFQXYAkpA",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2030 W 30th Ave, Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 23 May 2014 21:46:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAAOpXYVKG1RumUFsVjgY17ZBasjcqYagIgJHRfEeOFp5I5hQUBcoDYT6JthdnrAWdBMCcBNsrKqZ9P5ZysGPEoiir-q59JKAwg_JVbB-YNLdFk64VVMZxaMbyMXDrco3s57FEeRW2enEIZLHsCLJkf7xIQcI5wWBiEQZanWlpbuTQYVRoU2Gap-8niCuhAPJV42mDcJf7EAIs&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 21:46:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAgvbHatph0bZFQL5iIYXaH-NmVScRVj2s4tbrFkG5wx7NuLsf4B5ySjtTjXsvuqVHNOK56tRtru9LmgkUH7N-pmIkOxowqKAWq6HGqyQgJpyF20tsXfcVf5XhnLe9RwcUJpF56nLCVkNjvSV6m6dejxIQ8Jo_tFL8y37KlLkmo1bMRBoUOeVETu8y-qOV5NBvZmYFQXYAkpA&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAANuNEWkniL0bvrm4AqEeSGOaK2T_rqJ6z_kZLMMv6-iixQeRK9w7dUEYvmJINHpNrxN3Vlft2tUDAOpIj5co9H7VT8UAQFwtDA8Zq0KUksjTwx1y-JLoCjBCoZTbIOrFsMVqtmD-b43f63bBQwP0RbhIQDbMtoTKmus4dpKlYRskO5hoUVp9oi_qlsGbCEEFmaj6J6Md9YsU&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 21:46:39 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAizC2DoomC9VV97372c5wVVjtQazLg2wmYPE-Ve3gZ9VJXQ9dYl-9EjsCC_VShbU5ApNzgA070EbD2kDDxJJoIz9BsO2C6hRsogW6bC3PzNIqw-Xfonc-dTsu0PXhX1tYjrC2iqiwLo2NjH4dGadkqBIQ_c9r_BQKgm-pD7BY575qrRoUAKJHBFZ9lgHhKX9QZZnWCzjoAE8&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
