<h1>These are all the restaurants</h1>




<% @restaurants.each do |restaurant| %>

  <div class="display_restaurants">
  <p><%= restaurant.name %> <a href="/restaurants/<%= restaurant.id %>">see restaurant</a></p>
  </div>
<% end %>


<p>
<a href="/restaurants/new">Add a Restaurant</a>
</p>
