<h2>Here ya go...</h2>
<%= render partial: "restaurants/restaurant", collection: @restaurants, locals: {counter: 0} %>
<% if user_signed_in? %>
  <p>
    <a href="/restaurants/new">Add a Restaurant</a>
  </p>
<% end %>
