<h2>Here ya go...</h2>
<div id="map_canvas" data-coordinates='{"latitude":40.018504, "longitude":-105.278092}'></div>
<%= render partial: "restaurants/restaurant", collection: @restaurants, locals: {counter: 0} %>
<% if user_signed_in? %>
  <p>
    <%= link_to 'Add a Restaurant', new_restaurant_path %>
  </p>
<% end %>



<script>
  function initialize() {
    var mapCanvas = document.getElementById('map_canvas');
    var lat = $(mapCanvas).data("coordinates").latitude;
    var long = $(mapCanvas).data("coordinates").longitude;
    var mapOptions = {
      center: new google.maps.LatLng(lat, long),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }

  $(document).ready(function(){
    initialize();
  });
</script>

