---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1942%20Broadway%20St,%20Boulder,%20CO%2080302%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1942",
                       "short_name" : "1942",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pearl Street Mall",
                       "short_name" : "Pearl Street Mall",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Broadway Street",
                       "short_name" : "Broadway St",
                       "types" : [ "route" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=40.0179479,-105.2795348&name=Linger&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Fri, 23 May 2014 17:01:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Fri, 23 May 2014 18:10:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA6uBDZcj64pyfij9k6GwkZzY1OnAmzGbh1FJO7KFV5NfbiCGtrJMKBi2j8Kh9fR5Y1d3PP8oY4q3xXKFJvO4WhgSAJAnb-uMBDQRHmIecIONT5zUU0FSNVoYYm_iOXQBEBj2-JEu4cShOtx1ng7kNdBIQejjzdwXFpEQpCZUJKpDIWRoUfARP7WUEq61LVV5i8w6L3zU-acw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 18:11:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRpAAAAATcflFP-2SKVUtHBAZZe2CBCCyKTaBk5BqUOqpTNQ20vd3Ga_y_ZCv5dcxhTDNP3zWXMNPkMWdYAOV0r5Q06FZi6I9qy9Fj6QkTh1o29xePZ_ZJfvm1qefg-H69b9N_iHAi1vUTAL84w0qxdtfIb3hIQ5h2H6M1Mc_imJ-5SKo7MgxoUC-srxztQkIm2xTg3Ib0DnIPM5Lc&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2030",
                    "short_name" : "2030",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "W 30th Ave",
                    "short_name" : "W 30th Ave",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Denver",
                    "short_name" : "Denver",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "CO",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "80211",
                    "short_name" : "80211",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2030 W 30th Ave\u003c/span\u003e, \u003cspan class=\"locality\"\u003eDenver\u003c/span\u003e, \u003cspan class=\"region\"\u003eCO\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e80211\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUnited States\u003c/span\u003e",
              "formatted_address" : "2030 W 30th Ave, Denver, CO, United States",
              "formatted_phone_number" : "(303) 993-3120",
              "geometry" : {
                 "location" : {
                    "lat" : 39.759468,
                    "lng" : -105.011378
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
              "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
              "international_phone_number" : "+1 303-993-3120",
              "name" : "Linger",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "1030"
                       }
                    },
                    {
                       "close" : {
                          "day" : 2,
                          "time" : "1430"
                       },
                       "open" : {
                          "day" : 2,
                          "time" : "1130"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2030%20W.%2030th%20Ave.,%20Denver,%20CO%2080211%7B&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<GOOGLE_API_KEY>&location=39.7594564,-105.0113582&name=Linger&radius=1000&sensor=false&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.759468,
                       "lng" : -105.011378
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png",
                 "id" : "58fa8d4e3c0eeae64cc0e746b0c03468dbbfe239",
                 "name" : "Linger",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1365,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAA-mSCsDnIsmv1NJqGwQQl-Z_bIz3CdB4fNQmoIX24wox03I8D9EwqB1Far7QHD5KlKiFigNzmyp2RMARdElN0kKsrBwMzPy1gWbwyarapDdzg6J76dZol7wWPFJIKGKJDPBXtznDwq44tE0AUKKEJMBIQta8rSAZyPJF5UWiq3ivbRRoUSfF_uef6CI-wwbacK6nZAIkzuYw",
                       "width" : 2048
                    }
                 ],
                 "price_level" : 2,
                 "rating" : 4.3,
                 "reference" : "CnRoAAAAyZEV03N0G5fLzebdamISSxBSop1UY3jjSH3S2g5uJokeOBYlOixNaSNSNCK9qwZPQcWigiXBAvyRB0FSQzjcBN934c4NxzVjaC2nenFu_NnF14XSpcIl9X9IoH2SEIw-KH5s_CfiQGnrKzQeP-ss5RIQzaC8OoDmGo0oy6yA8GeapBoU5tjadSY4sKbLIZKvyW0Sp04_3E4",
                 "types" : [ "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "2030 W 30th Ave, Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 23 May 2014 18:12:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API_KEY>&maxwidth=400&photoreference=CnRnAAAA-mSCsDnIsmv1NJqGwQQl-Z_bIz3CdB4fNQmoIX24wox03I8D9EwqB1Far7QHD5KlKiFigNzmyp2RMARdElN0kKsrBwMzPy1gWbwyarapDdzg6J76dZol7wWPFJIKGKJDPBXtznDwq44tE0AUKKEJMBIQta8rSAZyPJF5UWiq3ivbRRoUSfF_uef6CI-wwbacK6nZAIkzuYw&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh4.googleusercontent.com/-RKF3yjivPoc/UqFJAtmQeuI/AAAAAAAATVs/6Y1xnw2lUIg/s1600-w400/photo.jpg\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Fri, 23 May 2014 18:12:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&reference=CnRoAAAAyZEV03N0G5fLzebdamISSxBSop1UY3jjSH3S2g5uJokeOBYlOixNaSNSNCK9qwZPQcWigiXBAvyRB0FSQzjcBN934c4NxzVjaC2nenFu_NnF14XSpcIl9X9IoH2SEIw-KH5s_CfiQGnrKzQeP-ss5RIQzaC8OoDmGo0oy6yA8GeapBoU5tjadSY4sKbLIZKvyW0Sp04_3E4&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
