header {
    background:image-url('denver.jpg') no-repeat center center;
    background-size: cover;
    height: 250px;
    margin-top: -30px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
  clear: both;
}

h3 {
    text-align: center;
    color: white;
}

#header_container span {
    background-color: black;
    opacity: .9;
}

#header_container,
#nav_container,
#main_container{
    margin: auto;
    max-width: 980px;
}

#nav_container li {
    float: right;
    padding: 10px;
    padding-top: 20px;
}

#nav_container ul {
    list-style-type: none;
}

.dropbox {
    display: inline-block;
}

#search_location {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
}

#main_container {
  margin-top: 20px;
}

/*------errors---------*/

.error {
  color: red;
}

//--------homepage---------

#search_options {
  margin: auto;
  width: 300px;
}

#submit_button {
  margin: auto;
  width: 100px;
}