body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  background-color: #FDB254;
}

#header_container,
#nav_container,
#main_container,
#footer_container{
  margin: auto;
  max-width: 980px;
}

h1 {
  font-weight: bold;
}

//-------------columns----------


.one_third {
  width: 270px;
}

.one_fourth {
  width: 140px;
}

.one_third, .one_fourth,  {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
}

//-----------header------------

header {
    background:image-url('denver.jpg') no-repeat center center;
    background-size: cover;
    height: 250px;
    margin-top: -30px;
}

header h1 {
    font-family: 'Pacifico', cursive;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

#header_container span {
    background-color: #3A2923;
    opacity: .9;
    padding: 3px;
}

#header_container {
  background-color: rgba(58,41,35,.2);
  height: 250px;
}

//-----------nav-----------

#nav_container li {
  float: right;
  padding: 10px;
  padding-top: 20px;
  font-size: 14px;
}

#nav_container ul {
  list-style-type: none;
}

//--------------------main---------

#main_container {
  margin-top: 20px;
}

#main {
  min-height: 400px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
}

/*------errors---------*/

.error {
  color: red;
}

//--------homepage---------

p.options {
  display: inline-block;
  padding: 0 4px;
}

.submit_button {
  margin: auto;
  width: 100px;
  border-radius: 5px;
  background-color: white;
}

.dropbox {
  display: inline-block;
  margin-top: 5px;
}

#search_location {
  text-align: center;
}

#main_search {
  border-radius: 10px;
  border: 1px solid black;
  width: 620px;
  margin: auto;
  box-shadow: inset 0 1px 12px rgba(0,0,0,0.3),0 1px 1px rgba(255,255,255,0.1);
  background: rgba(0,0,0,0.1);
  text-align: center;
}


#search_options {
  margin: auto;
  width: 620px;
}

#search_options p {
    margin: 5px 0;
}

#search_options p#save_preferences {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 15px;
}

#go {
  font-size: 30px;
  background-color: #B3C754;
  color: white;
  border: 2px solid white;
}

#random {
 font-size: 13px;
  color: #8e8e8e;
}

#main_search span {
  font-size: 15px;
}

#submit_button input:hover {
  box-shadow: inset 0 1px 12px rgba(104, 129, 14,0.70),0 1px 1px rgba(255,255,255,0.1);
}

.bottom{
  margin-top: 20px;
  font-size: 15px;
}

.bottom input {
  margin-left: 10px;
  border: 1px solid white;
}

//------------footer---------

footer {
  height: 50px;
  background-color: #3A2923;
  color: white;
  text-align: right;
}

//--------------devise--------------------

.sign-in input {
  margin-bottom: 20px;
}

#sign_in_flash {
  text-align: center;
}

.signed-in-message {
  color: #FDB254;
}

//--------------------js-buttons-------

.js-buttons {
  display:none;
}

//-------------------restaurants index------------

.display_restaurant img {
  height: 140px;
  width: 140px;
  border-radius: 5px;
}

.display_restaurant p {
  margin: 0px;
}

.display_restaurant {
  padding: 10px;
  margin: 0px 0px;
  overflow:hidden;
  display: inline-block;
  width: 450px;
  vertical-align: top;
  //  border: 1px solid black;
  //  border-radius: 15px;
  //  box-shadow: inset 0 1px 12px rgba(0,0,0,0.40),0 1px 1px rgba(255,255,255,0.1);
  //  background: rgba(0,0,0,0.05);
}

.smaller {
  font-size: 15px;
}

.option_tags {
  font-size: 13px;
  display: inline-block;
  padding: 4px;
  margin: 3px;
  border-radius: 5px;
  color: white;
  background: rgba(0,0,0,0.20);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

