body {
  font-family: 'Karla', sans-serif;
  font-size: 1.3em;
  background-color: #FDB254;
}

#header_container,
#nav_container,
#main_container,
#footer_container{
  margin: auto;
  max-width: 980px;
}

//-----------header------------

header {
    background:image-url('denver.jpg') no-repeat center center;
    background-size: cover;
    height: 250px;
    margin-top: -30px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
  clear: both;
}

h3 {
    text-align: center;
    color: white;
}

#header_container span {
    background-color: #3A2923;
    opacity: .9;
    padding: 3px;
}

#header_container {
  background-color: rgba(58,41,35,.2);
  height: 250px;
}

//-----------nav-----------

#nav_container li {
  float: right;
  padding: 10px;
  padding-top: 20px;
  font-size: 18px;
}

#nav_container ul {
  list-style-type: none;
}

//--------------------main---------

#main_container {
  margin-top: 20px;
}

#main {
  min-height: 400px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
}


/*------errors---------*/

.error {
  color: red;
}

//--------homepage---------

#search_options {
  margin: auto;
  width: 300px;
}

#submit_button {
  margin: auto;
  width: 100px;
}

.dropbox {
  display: inline-block;
}

#search_location {
  text-align: center;
}


//------------footer---------

footer {
  height: 50px;
  background-color: #3A2923;
  color: white;
  text-align: right;
}

//------------all restaurants page --------

.display_restaurants {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
}

//--------------devise--------------------

.sign-in input {
  margin-bottom: 20px;
}

#sign_in_flash {
  text-align: center;
}

.signed-in-message {
  color: #FDB254;
}