<% if user_signed_in? %>
  <li class="signed-in-message">Welcome <%= current_user.email %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
<% else %>
  <li class="signed-in-message">You are not signed in.</li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>